---
layout: archive
#title: "Posts by Collection"
permalink: /collection-archive/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
    
      {% if label == "aco" %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">Assassin's Creed: Odyssey</h2>
      {% else %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% endif %}


      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
    {% endunless %}
    {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
    {% include archive-single.html %}
    <a href="#" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    {% endunless %}
    {% endfor %}
{% endfor %}