*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
y
y.pub
google050c7fa3daeab76f.html
naverf38a2386521780b63ca4ffffedc972f8.html